
.footer1-theme {
	background-color: rgb(39, 39, 255) !important; opacity: 0.8; filter: alpha(opacity=50);
	color: rgb(255, 255, 255) !important;
}

.footer2-theme{
	background:rgb(20, 20, 255) !important;
	color: rgb(255, 255, 255);	
}

.footer2 a { color: #fff; }
		.footer2 a:hover { color: rgb(224, 224, 224) !important; }
		.footer2 p { margin: 0; }


/*******************************/
/*         Navigatioin         */
/*******************************/
.navbar-inverse { border-radius: 0; font-weight: bold; background:rgba(59, 59, 255, .8) !important; border-bottom:1px solid rgba(255, 255, 255, 0.15); /*min-height:100px; padding-top:25px;*/ margin-bottom:0;}
.navbar-inverse *:focus { outline: 0; }
@media (max-width: 767px) {
	.navbar-inverse {  background:rgb(0,0,0); }
}

.navbar-inverse .navbar-nav > li > a,

/*Text Navigator*/
.navbar-inverse .navbar-nav > .open ul > a { color:rgb(250, 250, 250); } 

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus { color:black !important; background:none ; }
.navbar-inverse .navbar-nav > .open > a{ background:none; color:white !important; }

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus { background:none; color:rgb(224, 224, 224) !important; }

.navbar-inverse .navbar-nav > .active > a { background:none; color:rgb(224, 224, 224) !important; }

.navbar-inverse .navbar-brand { font-family: "Open sans", helvetica, arial; font-size: 24px; color:white; padding:0 0 0 15px; margin:12px 0 0 0; }
	.navbar-inverse .navbar-brand img { margin-top:-8px;}

.navbar-nav .dropdown-menu {
	left:-5px;
	font-size: 13px;
	background:rgba(59, 59, 255, .8)  !important;
	border: 0px none;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
/*text navigator*/
.navbar-nav .dropdown-menu > li > a { font-weight: bold; color:rgb(250, 250, 250); padding:7px 20px; }
	.navbar-nav .dropdown-menu > li > a:hover,
	.navbar-nav .dropdown-menu > li > a:focus,
	.navbar-nav .dropdown-menu > .active > a:hover{ background: rgba(255, 255, 255, .1); color:rgb(216,216,255) !important; }

.navbar-nav .dropdown-menu > .active > a,
.navbar-nav .dropdown-menu > .active > a:focus { background: none; color:#000000 !important; }

.navbar-nav .btn { border:1px solid rgba(255, 255, 255, .2); margin-left:5px; margin-top:5px; padding-top:10px; padding-bottom:10px; }

.navbar-nav a.btn:focus,
.navbar-nav a.btn:hover  { border:1px solid rgba(255,255,255,.6); }

.navbar-collapse { border:0 none;  border-top:0 none; box-shadow: none; }
@media (max-width: 767px) {
	.navbar-collapse ul { text-align: center;  width:100%; padding-bottom:10px; }
	.navbar-collapse ul .btn{ max-width:50%; margin:0 auto; }
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom { border-radius: 0; }