{% extends "../template/base_front.swig" %}

{% block title %}Laboratorium{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/js/plugins/magnific-popup/magnific-popup.min.css">
<style media="screen">

header .intro .intro-body .section-next {
    margin-top: 74px;
}

    #contact {
  padding-bottom: 80px;
  background-color: rgba(223, 232, 255, 1);
}

section #contact .section-content .section-heading span {
    /*color: #ffffff;*/
}

.section-content .section-heading {
    /*color: #525252;*/
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: 192px;
}

/*thema old*/
/*#portfolio{
  background-color: rgba(223, 232, 255, 1);
  padding-bottom: 80px;
}*/

#lab {
    background-color: #fff;
    padding-bottom: 80px;
}

#about {
    background-color: rgba(51, 122, 183, 1);
    padding-bottom: 80px;
}

.img-responsive {
    display: block;
    max-width: 100%;
     height: auto !important;
}


table {
    display: table;
    /*border-collapse: separate;*/
    border-spacing: 2px;
    border-color: #555 !important;
}

th, td {

    font-size: 14px;
    padding: 5px;
    text-align: left;
}

th{
  text-transform: uppercase;
}

#contact {
    padding-bottom: 10px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    padding: 2px;
    /*background-color: #337ab7;*/
}

</style>
{% endblock %}

{% block content %}

  <section id="lab" class="section-content" style="text-align:left">
      <div class="container">
        <div class="row mbxxl">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                        <li><a href="/">Beranda</a></li>
                        <li class="active">Laboratorium</li>
                        {# <li class="active">DETEKSI GANGGUAN JIN</li> #}
                  </ol>
                <!-- <hr> -->
            </div>
        </div>
    {% set loops = 0 %}
        <div class="row">
          {% for lab in labs %}
            {% if loop.index < 5 %}
              <div class="col-sm-6 col-md-3">
                <div class="block " style="">
                  {# <img class="img-responsive"  src="{{lab.lab_photo}}" alt=""> #}
                  <div class="block-content block-content-full" style="background-color: rgb(51, 122, 183);color: white;">
                  <h2 class="h4 push-10">{{lab.lab_name}}</h2>
                  <div class="font-s12 push">
                  {# <span class="text-white">Tempat : Kampus I UNPAS </span><br> #}
                  </div>
                  {# <p>{{lab.lab_description }}</p> #}
                  <a class="btn btn-sm btn-warning" href="/lab/galleries/{{lab.id}}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Detail laboratorium</a>
                  </div>
                </div>
              </div>
          {% endif %}
          {% set loops = loops+1 %}
        {% endfor %}
      </div>
      <div class="row">
        {% for lab in labs %}
          {% if loop.index > 4 && loop.index < 9  %}
            <div class="col-sm-6 col-md-3">
              <div class="block " style="">
                {# <img class="img-responsive"  src="{{lab.lab_photo}}" alt=""> #}
                <div class="block-content block-content-full" style="    background-color: rgb(51, 122, 183);color: white;">
                <h2 class="h4 push-10">{{lab.lab_name}}</h2>
                <div class="font-s12 push">
                </div>
                {# <p>{{lab.lab_description }}</p> #}
                <a class="btn btn-sm btn-warning" href="/lab/galleries/{{lab.id}}"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Detail laboratorium</a>
                </div>
              </div>
            </div>
        {% endif %}
        {% set loops = loops+1 %}
      {% endfor %}
    </div>

<input type="hidden" class="loopIndex" value="{{loops}}">
{% set loops = loops/2 %}
{% if loops >= 6 %}
<div class="row">
            <div class="col-md-12">
              <nav class="text-center">
                <ul class="pagination">
                  <li class="active">
                  <a href="javascript:void(0)">1</a>
                  </li>
                  <li>
                  <a href="javascript:void(0)">2</a>
                  </li>
                  <li>
                  <a href="javascript:void(0)">3</a>
                  </li>
                  <li>
                  <a href="javascript:void(0)">4</a>
                  </li>
                  <li>
                  <a href="javascript:void(0)">5</a>
                  </li>
                  <li>
                  <a href="javascript:void(0)"><i class="fa fa-angle-right"></i></a>
                  </li>
                </ul>
              </nav>
             </div>
            </div>

      </div>
{% endif %}
  </section>

  {# <div class="content-grid">
                       <div class="row js-gallery">
                           <div class="col-md-4 animated fadeIn">
                               <a class="img-link" href="../img/photos/photo21@2x.jpg">
                                   <img class="img-responsive" src="../img/photos/photo21.jpg" alt="">
                               </a>
                           </div>
                           <div class="col-md-4 animated fadeIn">
                               <a class="img-link" href="../img/photos/photo14@2x.jpg">
                                   <img class="img-responsive" src="../img/photos/photo14.jpg" alt="">
                               </a>
                           </div>
                           <div class="col-md-4 animated fadeIn">
                               <a class="img-link" href="../img/photos/photo24@2x.jpg">
                                   <img class="img-responsive" src="../img/photos/photo24.jpg" alt="">
                               </a>
                           </div>

                           <div class="col-md-4 animated fadeIn">
                               <a class="img-link" href="../img/photos/photo22@2x.jpg">
                                   <img class="img-responsive" src="../img/photos/photo22.jpg" alt="">
                               </a>
                           </div>
                           <div class="col-md-4 animated fadeIn">
                               <a class="img-link" href="../img/photos/photo15@2x.jpg">
                                   <img class="img-responsive" src="../img/photos/photo15.jpg" alt="">
                               </a>
                           </div>
                           <div class="col-md-4 animated fadeIn">
                               <a class="img-link" href="../img/photos/photo23@2x.jpg">
                                   <img class="img-responsive" src="../img/photos/photo23.jpg" alt="">
                               </a>
                           </div>

                           <div class="col-md-4 animated fadeIn">
                               <a class="img-link" href="../img/photos/photo21@2x.jpg">
                                   <img class="img-responsive" src="../img/photos/photo21.jpg" alt="">
                               </a>
                           </div>
                           <div class="col-md-4 animated fadeIn">
                               <a class="img-link" href="../img/photos/photo14@2x.jpg">
                                   <img class="img-responsive" src="../img/photos/photo14.jpg" alt="">
                               </a>
                           </div>
                           <div class="col-md-4 animated fadeIn">
                               <a class="img-link" href="../img/photos/photo24@2x.jpg">
                                   <img class="img-responsive" src="../img/photos/photo24.jpg" alt="">
                               </a>
                           </div>
                       </div>
                    </div>
                      <!-- END Gallery -->
  <!--  Modal content for the above example --> #}
  <div class="modal fade modal-lab-show" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="    background-color: rgba(51, 122, 183, 0.81);">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close text-danger" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="eve-title-show">Large modal</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-8" style="padding:0px;padding-bottom:5px;">
              <img id="eve-photo-show"class="img-responsive" src="/uploads/lab/lab_2bnWdt8W93UBo19SZs61PAqg0koESpSF_1494089946277.png" alt="" />
            </div>
            <div class="col-sm-4">
            <span class="">Tempat : Kampus I UNPAS </span><hr>
            <span>Tanggal : </span><span id="eve-date-show"> {{date('d M Y') }}</span>
            <hr>
            <span>Deskripsi : </span>
            <p style="text-align:justify" id="eve-description-show">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block scripts %}
  <!--Loading script for each page-->
  <script  src="/frontend/assets/plugins/jquery-backstretch/jquery.backstretch.min.js"></script>
  {# <script  src="/frontend/assets/js/one-page_slider.js"></script> #}
  <!--CORE JAVASCRIPT-->
  {# <script  src="/frontend/assets/js/jquery-text-effect.js"></script> #}
  <script src="/js/plugins/magnific-popup/magnific-popup.min.js"></script>
  {# <script src="/frontend/js/frontend-one-page.js"></script> #}

  <script>
  $( function(){
      // Simple Gallery init
      jQuery('.js-gallery').each(function(){
          jQuery(this).magnificPopup({
              delegate: 'a.img-link',
              type: 'image',
              gallery: {
                  enabled: true
              }
          });
      });

      // Advanced Gallery init
      jQuery('.js-gallery-advanced').each(function(){
          jQuery(this).magnificPopup({
              delegate: 'a.img-lightbox',
              type: 'image',
              gallery: {
                  enabled: true
              }
          });
      });
  });

  function openModal(target, type, id) {
      if (type == 'show') {
          $.get('/lab/get/' + id, function(res) {
              var lab = res.data;
              $('img#eve-photo-show').attr('src', lab.lab_photo);
              $('#eve-title-show').text(lab.lab_title);
              var date = moment(lab.lab_date).format("DD-MM-YYYY");
              $('#eve-date-show').text(date);
              $('#eve-description-show').text(lab.lab_description);
          });
      }
      $(target).modal('show');
  }
  </script>
{% endblock %}
