
/* Header */
#head { background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:6px; color:white; line-height:1.15em; }
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
		#head .tagline a { color:#fff; }
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active,
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}

.navbar-inverse {
    border-radius: 0;
    background: rgba(0, 0, 0, .8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    /* min-height: 100px; */
    /* padding-top: 25px; */
    padding: 5px;
    margin-bottom: 0;
}

/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; }
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }

/*Beranda image */


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; }
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */
.maincontent { }

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; }

/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }
		.follow-me-icons i { float:left; margin:0 10px 0 0; }

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
	.footer2 a { color: #aaa; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }
	.widget-simplenav a{ margin:0 5px; }

	/*foto kegiatan*/
	.col-md-4{
		padding: 10px;
	}

	.img-thumbnail{
		margin-top: 10px;
		margin-bottom:10px;
	}

/*tentang desa*/
	.btn-primary {
    color: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #DADADA 0%, #FBFAFA 100%);
    background-image: linear-gradient(to bottom, #D6D5D4 0%, #BFBEBC 100%);}

/*sejarah*/
.sejarah p{
	font-size: 18px;
	text-align: justify;
	font-family: calibri;
}

.rata-tengah {
	font-size: 18px;
	text-align: justify;
	font-family: calibri;
}
/*Galeri*/

/*Galeri Foto*/
.pdf-thumb-box {
  display: inline-block !important;
  position: relative !important;
  overflow: hidden;
}
.pdf-thumb-box-overlay {
  display: none;
}
.pdf-thumb-box a:hover .pdf-thumb-box-overlay {
  display: inline;
  text-align: center;
  position: absolute;
  transition: background 0.2s ease, padding 0.8s linear;
  background-color: rgba(255, 0, 0, 0.58);
  color: #fff;
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.pdf-thumb-box-overlay span {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*Galeri Foto End*/

.video {
    max-width: 100%;
    height: auto;
}

.struktur-image {
	max-width: 100%;
	height: auto;
}

/*Statistik*/
.center-statistik {
	text-align: center;
}


.img, .embed-responsive {
  margin-bottom: 30px;
  }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.text-block {
	background-color: red;
 	color: #fff;
 	font-weight: bold;
 	width: 180px;
 	height: 30px;
 	font-size: 17px;
 	padding-left: 10px;
 	padding-right: 10px;
 	padding-top: 5px;
 	margin-top: -15px;
 	text-align: center;

}

.embed-responsive-left {
  padding-bottom: 45%;
}

.text-video-left-sidebar {
	margin-top: -30px;
}
/*Video END

/*Beranda*/
.carousel-control {
  padding-top:10%;
  width:5%;
}

.thumbnail img {
  width: auto;
  height: 350px;
  max-height: 350px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.pagination-js {
  padding: 6px 10px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.42857143;
  color: #337ab7;
  background-color: #ECF0F1;
  border: 0px;
  font-size: 17px;
}

.pagination-posisi {
  float: right;
  max-width: 100%;
}

/*Pengumuman*/
.pengumuman-deskripsi {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
   line-height: 20px;     /* fallback */
   max-height: 65px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;

}

/*Berita*/

.batas-panjang-paragraf-berita {
  text-align: justify;
  font-size: 18px;
  font-family: calibri;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
   line-height: 20px;     /* fallback */
   max-height: 240px;      /* fallback */
   -webkit-line-clamp: 20; /* number of lines to show */
   -webkit-box-orient: vertical;

}

.batas-panjang-judul-berita {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
   line-height: 9px;     /* fallback */
   max-height: 120px;      /* fallback */
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   margin-bottom: 13px;

}

/*END Beranda*/
