body{

    background-color: #FFFFFF;
}

/*pencarian*/

.h5{
	text-decoration: none;
}

.h5{
	 margin: 5px;
}
.pencarian{
	margin-top: 100px;
}

.pencarian h2{
	margin-bottom: 10px;
}
.pencarian input{
	margin-top: 0px;
	border-color: #B4B1B1;
}
.pencarian input:focus{
	/*color: #646464;*/
	color: #222;
    border: 1px solid #CB3838;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.pencarian .search{
	height: 45px;
}

.block-pencarian {
    margin: 0 auto;
    padding: 0px; }

/*hasil-pencarian*/
.hasil-pencarian{
	margin-top: 10px;
	text-align: center;
	background-color: #f2f2f2;
	padding: 10px;

}

/*perorangan*/
.kotak{
	padding: 5px;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.kotak a{
	color: #222;
}



/*login*/
.login{
	margin-top: 100px;
	background-color: #f2f2f2;
	padding: 30px;
	box-shadow: 5px 5px 3px #d8d8d8;
	border-radius: 4px;
}
.login hr{
	border-color: #3b5998;
}

.img-circle{
	padding: 10px;
}

.block-content.block-content-full {
    padding-bottom: 0px;
}
/*footer*/
footer{

	background-color: #e5e5e5;
}

.footer-pencarian{
	margin-top: 150px;
}

.footer-align{
  text-align: right;
}


/*hasil pencarian*/
.pilihan-user{
	margin:78px 0px 78px 0px;
}

/*logo perusahaan*/
.logo-perusahaan{
	padding: 20px;
	padding-top: 40px;
}

.profile-address{
	padding: 20px;
	padding-top: 40px;
}
