{% extends "../template/base_dashboard.swig" %}

{% block title %}Administrasi{% endblock %}
{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="/js/plugins/datatables/jquery.dataTables.min.css">
<link  href="/cropper/dist/cropper.min.css" rel="stylesheet">
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview, #imgPreview-update{
        /*border-radius:50%;*/
        /*margin-bottom: 15px;*/
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/admin" class="link-effect">Dashboard</a></li>
            <li>Daftar Administrasi</li>
        </ol>
    </div>
</div>
<!-- Page Content -->
<div class="content">
<!-- Dynamic Table Full -->
    <div class="row block">
        <div class="block-header text-center">
            <button class="btn btn-default btn-delete-administration pull-left"  data-toggle="tooltip" title="Pilih Hapus" disabled><i class="si si-trash"></i></button>
            <button class="btn btn-success btn-add-administration pull-right" onClick="openModal('#modal-add-administration', 'add')" data-toggle="tooltip" title="Tambah Bertia"><i class="si si-note"></i> Tambah </button>
            <h4>Daftar Administrasi</h4>
        </div>
        <div class="block-content table-responsive">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality initialized in js/pages/berita.js -->
            <table class="table table-striped data-administration">
                <thead>
                    <tr>
                      <th width="1">
                          <div class="checkbox-administration-all">
                            <input type="checkbox" data-toggle="tooltip" title="Select all">
                          </div>
                      </th>
                      <th width="10%">#</th>
                      <th>Nama</th>
                      <th>
                        No.HP
                      </th>
                      <th>
                        Email
                      </th>
                      <th width="1%">#</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- modals -->
<div class="modal fade" id="modal-add-administration" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-lg">
        <div class="modal-content">
            <form action="/admin/administration/p/add" class="form-add-administration form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Tambah Administrasi</h3>
                </div>
                <div class="block-content">
                    <div class="col-md-6">
                        <div class="block">
                            <div class="block-content">
                                <div class="form-group">
                                <div class="col-xs-6 col-xs-offset-3">
                                    <img id="imgPreview" class="img-responsive" width="100%" src="/img/default-paper.png">
                                    <div class="fileUpload btn btn-default btn-flat btn-block">
                                      <span>Tambah Gambar</span>
                                      <input type="file" class="upload" name="ImageFile" id="imageInput" required/>
                                      <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop"/>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Identitas Administrasi</h3>
                            </div>
                            <div class="block-content">
                                <div class="form-group">
                                        <label for="nip-add-administration">NIP</label>
                                        <input class="form-control" id="nip-add" name="adm_nip" type="text" required>
                                </div>
                                <div class="form-group">
                                        <label for="name-add-administration">Nama</label>
                                        <input class="form-control" id="fullname-add-administration" name="adm_name" type="text" required>
                                </div>
                                <div class="form-group">
                                        <label for="nickname-add-administration">Nama Panggilan</label>
                                        <input class="form-control" id="nickname-add-administration" name="adm_nickname" type="text"  required>
                                </div>
                                <div class="form-group">
                                        <label for="pob">Tempat & Tanggal Lahir</label>
                                        <div class="clearfix"></div>
                                        <div class="col-xs-6" style="padding-left:0">
                                          <input class="form-control" id="birthplace-add-administrasi" name="adm_birthplace" type="text" required>
                                        </div>
                                        <div class="col-xs-6" style="padding-right:0">
                                            <input class="js-datepicker form-control" type="text" id="date-add-administration" name="adm_birthdate" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label for="gender">Jenis Kelamin</label>
                                        <select class="form-control" id="gender-add-administrasi" name="adm_gender">
                                          <option value="L">Laki-laki</option>
                                          <option value="P">Perempuan</option>
                                        </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                            <div class="block">
                                <div class="block-header bg-gray-lighter">
                                    <h3 class="block-title">Kontak & Pengalamatan</h3>
                                </div>

                                <div class="block-content">
                                <div class="form-group">
                                        <label for="address">Alamat</label>
                                        <textarea class="form-control" id="address" name="adm_address" type="text" required></textarea>
                                </div>
                                <div class="form-group">
                                        <label for="city">Kota</label>
                                        <input class="form-control" id="city" name="adm_city" type="text" required>
                                </div>
                                    <div class="form-group">
                                        <label for="email-add-administration">Email</label>
                                        <input class="form-control" id="email-add-administration" name="adm_email" type="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone_number">Nomor Telepon</label>
                                        <input class="form-control" id="phone_number" name="adm_handphone_number"  required>
                                    </div>
                                </div>
                            </div>
                            <div class="block">
                                <div class="block-header bg-gray-lighter">
                                    <h3 class="block-title">Keamanan</h3>
                                </div>
                                <div class="block-content">
                                  <div class="form-group">
                                          <label for="password-add-administration">Masukan Kata Sandi</label>
                                          <input class="form-control" id="password-add-administration" name="acc_password" type="password" required>
                                  </div>
                                  <div class="form-group">
                                          <label for="repassword-add-administration">Konfirmasi Kata Sandi</label>
                                          <input class="form-control" id="repassword-add-administration" name="acc_repass" type="password" value="{{coordinator.coo_nip}}" required>
                                  </div>
                                  {# <div class="form-group">
                                          <label for="gender">Hak Akses</label>
                                          <select class="form-control" id="gender-add-administrasi" name="acc_user_right">
                                            <option value="1">Top Management</option>
                                            <option value="2">Pengelola</option>
                                          </select>
                                  </div> #}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Batalkan</button>
                <button type="submit" class="btn btn-success submit-add-administration">Simpan Administrasi</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-administration" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-lg">
        <div class="modal-content">
            <form action="" class="form-update-administration form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Ubah Data Administrasi</h3>
                </div>
                <div class="block-content">
                <div class="col-md-6">
                    <div class="block">
                        <div class="block-content">
                            <div class="form-group">
                            <div class="col-xs-6 col-xs-offset-3">
                                <img id="imgPreview-update" class="img-responsive" width="100%" src="/img/default-paper.png">
                                <div class="fileUpload btn btn-default btn-flat btn-block">
                                  <span>Ubah Gambar</span>
                                  <input type="file" class="upload" name="ImageFile" id="imageInput"/>
                                  <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop-update"/>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block-header bg-gray-lighter">
                            <h3 class="block-title">Identitas Administrasi</h3>
                        </div>
                        <div class="block-content">
                            <div class="form-group">
                                    <label for="nip-update-administration">NIP</label>
                                    <input class="form-control" id="nip-update-administration" name="adm_nip" type="text" required>
                            </div>
                            <div class="form-group">
                                    <label for="name-update-administration">Nama</label>
                                    <input class="form-control" id="name-update-administration" name="adm_name" type="text" required>
                            </div>
                            <div class="form-group">
                                    <label for="nickname-update-administration">Nama Panggilan</label>
                                    <input class="form-control" id="nickname-update-administration" name="adm_nickname" type="text"  required>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="block">
                            <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Data Pribadi, Kontak & Pengalamatan</h3>
                            </div>
                            <div class="block-content">
                            <div class="form-group">
                                    <label for="pob">Tempat & Tanggal Lahir</label>
                                    <div class="clearfix"></div>
                                    <div class="col-xs-6" style="padding-left:0">
                                      <input class="form-control" id="birthplace-update-administration" name="adm_birthplace" type="text" required>
                                    </div>
                                    <div class="col-xs-6" style="padding-right:0">
                                        <input class="js-datepicker form-control" type="text" id="birthdate-update-administration" name="adm_birthdate" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label for="gender">Jenis Kelamin</label>
                                    <select class="form-control" id="gender-update-administrasi" name="adm_gender">
                                      <option value="L">Laki-laki</option>
                                      <option value="P">Perempuan</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                    <label for="address-update-administration">Alamat</label>
                                    <textarea class="form-control" id="address-update-administration" name="adm_address" type="text" required></textarea>
                            </div>
                            <div class="form-group">
                                    <label for="city-update-administration">Kota</label>
                                    <input class="form-control" id="city-update-administration" name="adm_city" type="text" required>
                            </div>
                                <div class="form-group">
                                    <label for="email-update-administration">Email</label>
                                    <input class="form-control" id="email-update-administration" name="adm_email" type="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="phonenumber-update-administration">Nomor Telepon</label>
                                    <input class="form-control" id="phonenumber-update-administration" name="adm_handphone_number"  required>
                                </div>
                            </div>
                        </div>
                        {# <div class="block">
                            <div class="block-header bg-gray-lighter">
                                <h3 class="block-title">Keamanan</h3>
                            </div>
                            <div class="block-content">
                              <div class="form-group">
                                      <label for="password-update-administration">Masukan Kata Sandi</label>
                                      <input class="form-control" id="password-update-administration" name="acc_password" type="password" required>
                              </div>
                              <div class="form-group">
                                      <label for="repassword-update-administration">Konfirmasi Kata Sandi</label>
                                      <input class="form-control" id="repassword-update-administration" name="acc_repass" type="password" value="{{coordinator.coo_nip}}" required>
                              </div>
                              <div class="form-group">
                                      <label for="gender">Hak Akses</label>
                                      <select class="form-control" id="gender-update-administrasi" name="acc_user_right">
                                        <option value="1">Top Management</option>
                                        <option value="2">Pengelola</option>
                                      </select>
                              </div>
                            </div>
                        </div> #}
                      </div>

                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Batalkan</button>
                <button type="submit" class="btn btn-success submit-update-administration">Simpan Administrasi</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal update-->


{# cropper #}
<div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" >
  <div class="modal-dialog modal-dialog-popout modal-dialog-top">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Pengaturan Gambar</h3>
        </div>
        <div class="block-content">
          <div id="cropper-wrap-img">
            <img width="100%" src="/img/default.png" alt="Picture">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default pull-left">keluar</button>
        <button type="button" class="btn btn-success btn-crop">crop</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="/cropper/dist/cropper.min.js"></script>
<script src="/moment/moment.js"></script>
<script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- Page JS Code -->
<script src="/js/pages/adm_account.js"></script>
{% endblock %}
