{% extends "../template/base_dashboard.swig" %}

{% block title %}Galeri Labolatorium{% endblock %}
{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="/js/plugins/datatables/jquery.dataTables.min.css">
<link  href="/cropper/dist/cropper.min.css" rel="stylesheet">
<style>
    .fileUpload {
        position: relative;
        overflow: hidden;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    #imgPreview, #imgPreview-update{
        /*border-radius:50%;*/
        /*margin-bottom: 15px;*/
    }
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
    <div class="col-sm-12 text-right hidden-xs">
        <ol class="breadcrumb">
            <li><a href="/admin" class="link-effect">Dashboard</a></li>
            <li><a href="/admin/eventrecord" class="link-effect">Labolatorium</a></li>
            <li>Foto Labolatorium</li>
        </ol>
    </div>
</div>
<!-- Page Content -->
<div class="content">
<!-- Dynamic Table Full -->
    <div class="row block">
        <div class="block-header text-center">
            {# <button class="btn btn-default btn-delete-lab pull-left"  data-toggle="tooltip" title="Pilih Hapus" disabled><i class="si si-trash"></i></button> #}

                    {% set i = 0 %}
                    {% for gal in galleries %}
                        {% set i = i+1 %}
                    {% endfor %}
                    {% if i >= 1 %}
                      {% if i > 5 %}
                              <button class="btn btn-danger btn-add-lab pull-right" disabled><i class=""></i> Gambar Penuh </button>
                            {% else %}
                            <button class="btn btn-success btn-add-lab pull-right" onClick="openModal('#modal-add-lab', 'add')" data-toggle="tooltip" title="Tambah Bertia"><i class="si si-note"></i> Tambah </button>
                      {% endif %}
                    {% endif %}



            <h4>Daftar Foto Labolatorium</h4>
        </div>
        <div class="block-content table-responsive">
          <div class="row" style="">
            {% for galery in galleries %}
              {% if loop.index <= 3 %}
              <div class="col-md-4 animated fadeIn" style="margin-bottom:20px;">
                <div class="img-container fx-img-zoom-in fx-opt-zoom-in">
                  <img class="img-responsive" src="{{galery.lgal_photo}}" alt="">
                  <div class="img-options">
                    <div class="img-options-content">
                      <h3 class="font-w400 text-white push-5">{{galery.gal_title}}</h3>
                      <h4 class="h6 font-w400 text-white-op push-15">{{galery.lgal_description}}</h4>
                      <button class="btn btn-sm btn-warning" onClick="openModal('#modal-update-lab', 'update', {{galery.id}})"><i class="fa fa-pencil"></i> Edit</button>
                      <a class="btn btn-sm btn-danger" href="javascript:deletedPhoto({{galery.id}})"><i class="fa fa-times"></i> Delete</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}



          {% if galleries == null %}
            <div class="col-md-12 animated fadeIn" style="margin-bottom:20px;">
            <div class="jumbotron" style="padding:20px;">
              <center>
                <p>Belum ada foto untuk Labolatorium ini, untuk menambahkan foto silahkan tekan tombol "Tambah"</p>
                <button class="btn btn-success btn-lg" onClick="openModal('#modal-add-lab', 'add')" data-toggle="tooltip" title="Tambah Bertia"><i class="si si-note"></i> Tambah </button>
              </center>
            </div>

            </div>
          {% endif %}

          </div>

          <div class="row">
          {% for galery in galleries %}
            {% if loop.index > 3 and loop.index <= 5 %}
            <div class="col-md-4 animated fadeIn" style="margin-bottom:20px;">
              <div class="img-container fx-img-zoom-in fx-opt-zoom-in">
                <img class="img-responsive" src="{{galery.lgal_photo}}" alt="">
                <div class="img-options">
                  <div class="img-options-content">
                    <h3 class="font-w400 text-white push-5">{{galery.gal_title}}</h3>
                    <h4 class="h6 font-w400 text-white-op push-15">{{galery.lgal_description}}</h4>
                    <button class="btn btn-sm btn-warning" onClick="openModal('#modal-update-lab', 'update', {{galery.id}})"><i class="fa fa-pencil"></i> Edit</button>
                    <a class="btn btn-sm btn-danger" href="javascript:deletedPhoto({{galery.id}})"><i class="fa fa-times"></i> Delete</a>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
    </div>
</div>

<!-- modals -->
<div class="modal fade" id="modal-add-lab" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <form action="/admin/labs/gallery/p/add/" class="form-add-lab form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Tambah Kegiatan</h3>
                </div>
                <div class="block-content">
                    <div class="form-group">
                      <div class="col-xs-4 col-xs-offset-4">
                        <img id="imgPreview" class="img-responsive" width="100%" src="/img/default-paper.png">
                        <div class="fileUpload btn btn-default btn-flat btn-block">
                          <span>Tambah Gambar</span>
                          <input type="file" class="upload" name="ImageFile" id="imageInput" required/>
                          <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop"/>
                        </div>
                          <!-- <small class="text-muted">Ratio 1:1</small> -->
                      </div>
                    </div>

                  <div class="form-group">
                      <div class="col-xs-12">
                        <label for="date-add-lab">Visibility</label>
                        <select class="form-control" id="date-add-lab" name="lgal_visibility">
                          <option value="1">Tampilkan</option>
                          <option value="0">Jangan Di Tampilkan</option>
                        </select>

                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                        <label for="description-add-lab">Deskripsi</label>
                        <input type="hidden" class="form-control" name="lgal_lab_id" value="{{labRecordId}}">
                        <textarea class="form-control" name="lgal_description" id="description-add-lab"  rows="4" cols="20" required></textarea>
                      </div>
                  </div>

                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Batalkan</button>
                <button type="submit" class="btn btn-success submit-add-lab">Simpan Kegiatan</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add-->

<div class="modal fade" id="modal-update-lab" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top modal-md">
        <div class="modal-content">
            <form action="" class="form-update-lab form-horizontal" method="post">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Ubah Event</h3>
                </div>
                <div class="block-content">
                    <!-- <div class="col-sm-6"> -->
                      <div class="form-group">
                        <div class="col-xs-4 col-xs-offset-4">
                          <img id="imgPreview-update" class="img-responsive" width="100%" src="/img/default-paper.png">
                          <div class="fileUpload btn btn-default btn-flat btn-block">
                            <span>Ubah Gambar</span>
                            <input type="file" class="upload" name="ImageFile" id="imageInput" />
                            <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop-update"/>
                          </div>
                            <!-- <small class="text-muted">Ratio 1:1</small> -->
                        </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-12">
                            <label for="visibility-update-lab">Visibility</label>
                            <select class="form-control" id="visibility-update-lab" name="lgal_visibility">
                              <option value="1">Tampilkan</option>
                              <option value="0">Jangan Di Tampilkan</option>
                            </select>

                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-12">
                            <label for="description-update-lab">Deskripsi</label>
                            <input type="hidden" class="form-control" name="lgal_lab_id" value="{{labRecordId}}">
                            <textarea class="form-control" name="lgal_description" id="description-update-lab"  rows="4" cols="20" required></textarea>
                          </div>
                      </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success submit-update-lab">Simpan Galeri</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal update-->


{# cropper #}
<div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" >
  <div class="modal-dialog modal-dialog-popout modal-dialog-top">
    <div class="modal-content">
      <div class="block block-themed block-transparent remove-margin-b">
        <div class="block-header bg-primary-dark">
          <ul class="block-options">
            <li>
              <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
            </li>
          </ul>
          <h3 class="block-title">Pengaturan Gambar</h3>
        </div>
        <div class="block-content">
          <div id="cropper-wrap-img">
            <img width="100%" src="/img/default.png" alt="Picture">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default pull-left">keluar</button>
        <button type="button" class="btn btn-success btn-crop">crop</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Page JS Plugins -->
<script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/js/plugins/shiftcheckbox/jquery.shiftcheckbox.js"></script>
<script src="/cropper/dist/cropper.min.js"></script>
<script src="/moment/moment.js"></script>
<script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<!-- Page JS Code -->
<script src="/js/pages/adm_gallery_lab.js"></script>
<script>
function deletedPhoto(id){
  var conf = confirm('Apakah anda ingin menghapus foto ini?');
  if (conf) {
  $.ajax({
      url: '/admin/labs/gallery/p/remove/'+id,
      type:'POST',
      // data:data,
      success: function(res) {
          if (res.data == '1') {
              window.location.reload();
          }else {
              alert(res.data);
          }
      },

      error: function(jqXHR, exception) {
          alert(jqXHR.status);

      },
  });
}
}
</script>
{% endblock %}
