{% extends "../template/base_dashboard.swig" %}

{% block title %}Ubah Berita | {% endblock %}
{% block styles %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="/js/plugins/summernote/summernote.min.css">
<link rel="stylesheet" href="/js/plugins/summernote/summernote-bs3.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
<link  href="/cropper/dist/cropper.min.css" rel="stylesheet">
<style>
.fileUpload {
  position: relative;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
#imgPreview, #imgPreview-update{
  margin-bottom: 15px;
}
</style>
{% endblock %}

{% block body %}
<div class="content wrap-breadcrumb">
  <div class="col-sm-12 text-right hidden-xs">
    <ol class="breadcrumb">
      <li><a href="/admin" class="link-effect">Dashboard</a></li>
      <li><a href="/admin/news" class="link-effect">Daftar Berita</a></li>
      <li>Ubah Berita</li>
    </ol>
  </div>
</div>
<!-- Main Container -->
  <div class="content">
    <div class="row block">
      <div class="col-md-12">
        <br>
        <center><h3>Ubah Berita</h3></center>
        <hr>
        <form action="/admin/news/p/update/{{news.id}}" class="form-update-news form-horizontal" method="post">
          <div class="block block-themed block-transparent remove-margin-b">
            <div class="block-content">
              <div class="form-group">
                  <div class="col-md-8">
                    <div >
                      <label for="title-update-news">Judul Berita</label>
                      <input class="form-control" id="title-update-news" name="new_title" value="{{news.new_title}}" type="text" placeholder="Masukan Judul Berita" required>
                    </div>
                    <br>
                    <div >
                      <label for="date-update-news">Tanggal</label>
                      <input class="js-datepicker form-control" type="text" id="date-update-news" value="{{news.new_date|date('Y-m-d')}}" name="new_date" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd">

                    </div>
                    <br>
                    <div class=" ">
                      <!-- sesuai user yang login -->
                      <label for="new_author-update-news">Penulis</label>
                      <input class="form-control" id="new_author-update-news" value="{{news.new_author}}" name="new_author" type="text">

                    </div>
                    <br>
                  </div>
                  <div class="col-md-4  pull-right">
                    <img id="imgPreview" class="img-responsive" width="100%" src="{{news.new_cover}}">
                    <div class="fileUpload btn btn-default btn-flat btn-block">
                      <span>Ubah Gambar</span>
                      <input type="file" class="upload" name="ImageFile" id="imageInput" />
                      <input type="hidden" class="" name="srcDataCrop" id="srcDataCrop"/>
                    </div>
                  </div>

              </div>
              <div class="form-group">
                <div class="col-xs-12">

                  <div class="block-header">
                    <h3 class="block-title">Konten</h3>
                  </div>
                  <div class=" block-content-full">
                    <!-- Summernote Container -->
                    <textarea class="js-summernote" name="new_content" id="content-update-news" required>{{news.new_content}}</textarea>

                  </div>

                </div>
              </div>

            </div>
          </div>
          <div class="clearfix"></div><br>
          <div class="modal-footer">
            <a href="/admin/news"><button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Batalkan</button></a>
            <button type="submit" class="btn btn-success submit-update-news">Simpan Berita</button>
          </div>
        </form>
      </div>
    </div>

  <div class="modal fade" id="cropper-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" >
    <div class="modal-dialog modal-dialog-popout modal-dialog-top">
      <div class="modal-content">
        <div class="block block-themed block-transparent remove-margin-b">
          <div class="block-header bg-primary-dark">
            <ul class="block-options">
              <li>
                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
              </li>
            </ul>
            <h3 class="block-title">Image Cropper</h3>
          </div>
          <div class="block-content">
            <div id="cropper-wrap-img">
              <img width="100%" src="/img/default.png" alt="Picture">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default pull-left">Close</button>
          <button type="button" class="btn btn-success btn-crop">Crop</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block scripts %}

  <!-- Page JS Plugins -->
  <script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/cropper/dist/cropper.min.js"></script>
  <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
  <!-- Page JS Code -->
  <script src="/js/pages/adm_news.js"></script>
  <!-- Page JS Plugins -->
  <script src="/js/plugins/summernote/summernote.min.js"></script>
  <!-- Page JS Code -->
  <script>
  $('#content-update-news').summernote({
    height: 300,                 // set editor height
    minHeight: null,             // set minimum height of editor
    maxHeight: null,             // set maximum height of editor
    focus: true                  // set focus to editable area after initializing summernote
  });
  $(function () {
    // Init page helpers (Summernote + CKEditor plugins)
    App.initHelpers(['summernote']);
  });
  </script>
  {% endblock %}
